// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', Tahoma, Verdana, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//Project Theme
$night: #0b1320;
$nightsky: #394d5f;
$star: #fef9e6;
$gry:#71686d;
$exred:#a90e1c;

//linear grediant
$g1:#fff5c3;
$g2:#9452a5;
